@font-face {
	font-family: icons;
	font-display: swap;
	src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: ModernAntiqua;
	font-display: swap;
	src: url("../fonts/ModernAntiqua-Regular.woff2") format("woff2"), url("../fonts/ModernAntiqua-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: NovaRound;
	font-display: swap;
	src: url("../fonts/NovaRound-Regular.woff2") format("woff2"), url("../fonts/NovaRound-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: MontserratBlack;
	font-display: swap;
	src: url("../fonts/MontserratBlack.woff2") format("woff2"), url("../fonts/MontserratBlack.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: PermanentMarker;
	font-display: swap;
	src: url("../fonts/PermanentMarker-Regular.woff2") format("woff2"), url("../fonts/PermanentMarker-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
